<header
  class="
    bg-surface-light-2
    dark:bg-surface-dark-2
    bg-opacity-90
    dark:bg-opacity-90
    fixed
    top-0
    shadow-md
    w-full
    z-30
    backdrop-blur-md
    transition-colors
  "
>
  <div
    class="
      container
      mx-auto
      px-3
      py-3
      md:px-4
      flex
      justify-between
      items-center
    "
  >
    <span class="relative tracking-wider text-2xl font-black">
      <span>SET</span>
      <span
        class="
          w-[5px]
          h-[5px]
          rounded-sm
          relative
          bg-brand-accent-light
          dark:bg-brand-accent-dark
          inline-block
          mr-[3px]
          -left-px
        "
        aria-hidden="true"
      ></span>
      <span>GO</span>
      <span
        class="
          w-[5px]
          h-[5px]
          rounded-sm
          relative
          bg-brand-accent-light
          dark:bg-brand-accent-dark
          inline-block
        "
        aria-hidden="true"
      ></span>
    </span>

    <button
      *ngIf="notificationShadeVisibility$ | async as visibility"
      class="
        md:mr-[43px]
        w-10
        h-10
        flex
        justify-center
        items-center
        relative
        rounded-full
        focus-visible:bg-ripple-light
        dark:focus-visible:bg-ripple-dark
        transition-colors
      "
      id="notificationShadeToggleButton"
      uikitCoreRipple
      [attr.aria-label]="
        'Du hast ' + notifications.length + ' Benachrichtigungen'
      "
      (click)="setNotificationShadeVisibility('toggle')"
    >
      <ic-icon
        class="text-2xl pointer-events-none block"
        aria-hidden="true"
        [icon]="icons.iconOutlineNotifications"
      ></ic-icon>
      <div
        *ngIf="notifications.length"
        @scaleOvershoot
        class="
          bg-brand-accent-light
          dark:bg-brand-accent-dark
          rounded-full
          w-2.5
          h-2.5
          absolute
          top-1.5
          right-2
          pointer-events-none
        "
      ></div>
    </button>
  </div>

  <button
    *ngIf="hasAvailableUpdate$ | async"
    class="bg-primary px-3 py-3 text-center w-full"
    (click)="update()"
  >
    <div class="container mx-auto">
      Update installieren ({{
        (availableUpdate$ | async)?.available?.appData?.update?.version?.raw
      }})
    </div>
  </button>
</header>

<domain-notification-shade
  *ngIf="(notificationShadeVisibility$ | async) === 'open'"
  @awaitInner
></domain-notification-shade>

<div
  class="
    mx-auto
    flex flex-col
    relative
    px-3
    container
    h-full
    pt-[56px]
    md:justify-center md:items-center
  "
>
  <div class="w-full mt-16 md:w-[475px]">
    <uikit-common-card>
      <ng-container card-header>
        <h1 class="mb-1 md:mb-2 text-3xl">
          Anmeldung<span
            aria-hidden="true"
            class="
              inline-block
              w-1.5
              h-1.5
              bg-brand-accent-light
              dark:bg-brand-accent-dark
              relative
              left-0.5
              bottom-[-2px]
              rounded-sm
            "
          ></span>
        </h1>
        <p class="mb-4 md:mb-6">
          Logge dich direkt ein, um auf alle SET.GO. Services zugreifen zu
          können.
        </p>
      </ng-container>
      <div
        *ngIf="fetchSignInMethodsForEmailStore?.error$ | async as error"
        @growShrink
        card-before-body
        class="overflow-hidden origin-center"
      >
        <p
          class="
            py-2.5
            md:py-3
            px-6
            md:px-10
            mb-4
            md:mb-7
            transition-colors
            bg-error-light
            dark:bg-error-dark
            text-white
          "
          aria-live="assertive"
        >
          {{ error.message }}
        </p>
      </div>
      <div card-body class="pb-5 md:pb-6">
        <form [formGroup]="emailForm" (ngSubmit)="checkEmail()">
          <uikit-forms-field-text
            [control]="emailControl"
            inputType="email"
            inputAutocomplete="username"
            inputId="email"
            label="E-Mail-Adresse"
          >
          </uikit-forms-field-text>
        </form>
      </div>

      <button
        card-actions
        uikit-common-button-cta
        rounded="bottom"
        type="submit"
        assertLoadingMessage="Die eingegebene E-Mail-Adresse wird überprüft. Bitte warten."
        [isLoading]="fetchSignInMethodsForEmailStore?.isLoading$ | async"
        (click)="checkEmail()"
      >
        Weiter
      </button>
    </uikit-common-card>

    <div class="mt-12 -mb-12">
      <hr class="mb-6" />
      <ul class="grid gap-2">
        <li>
          <a
            class="
              no-underline
              relative
              hover:after:scale-x-100 hover:text-black
              focus-visible:text-black
              dark:hover:text-white dark:focus-visible:text-white
              focus-visible:ring-1
              focus-visible:ring-offset-2
              focus-visible:after:hidden
              rounded
              after:from-brand-primary-light-light
              after:via-brand-primary-light
              after:to-brand-primary-light-dark
              dark:after:from-brand-primary-dark-light
              dark:after:via-brand-primary-dark
              dark:after:to-brand-primary-dark-dark
              outline-none
              transition-colors
              after:transition-transform
              after:absolute
              after:rounded-sm
              after:left-0
              after:bottom-[-3px]
              after:w-full
              after:h-0.5
              after:scale-x-[25%]
              after:origin-left
              after:bg-gradient-to-r
            "
            href="#"
          >
            Account erstellen
          </a>
        </li>
        <li>
          <a
            class="
              no-underline
              relative
              hover:after:scale-x-100 hover:text-black
              focus-visible:text-black
              dark:hover:text-white dark:focus-visible:text-white
              focus-visible:ring-1
              focus-visible:ring-offset-2
              focus-visible:after:hidden
              rounded
              after:from-brand-primary-light-light
              after:via-brand-primary-light
              after:to-brand-primary-light-dark
              dark:after:from-brand-primary-dark-light
              dark:after:via-brand-primary-dark
              dark:after:to-brand-primary-dark-dark
              outline-none
              transition-colors
              after:transition-transform
              after:absolute
              after:rounded-sm
              after:left-0
              after:bottom-[-3px]
              after:w-full
              after:h-0.5
              after:scale-x-[25%]
              after:origin-left
              after:bg-gradient-to-r
            "
            href="#"
            >Passwort zurücksetzen</a
          >
        </li>
        <li class="text-xs mt-6 text-text-light-2 dark:text-text-dark-2">
          <ul class="flex gap-1">
            <li>
              <a
                class="
                  hover:text-black
                  focus-visible:text-black
                  dark:hover:text-white dark:focus-visible:text-white
                  focus-visible:ring-1
                  focus-visible:ring-offset-2
                  focus-visible:no-underline
                  rounded
                  transition-colors
                  underline
                  text-xs
                "
                href="#"
              >
                Datenschutz</a
              >
              <span aria-hidden="true"> &bull;</span>
            </li>
            <li>
              <a
                class="
                  hover:text-black
                  focus-visible:text-black
                  dark:hover:text-white dark:focus-visible:text-white
                  focus-visible:ring-1
                  focus-visible:ring-offset-2
                  focus-visible:no-underline
                  rounded
                  transition-colors
                  underline
                  text-xs
                "
                href="#"
              >
                Impressum</a
              >
              <span aria-hidden="true"> &bull;</span>
            </li>
            <li>
              <span>{{ version.raw }}</span>
            </li>
          </ul>
        </li>
        <li></li>
      </ul>
    </div>
  </div>

  <p
    class="
      text-xs text-center
      absolute
      bottom-4
      text-text-light-2
      dark:text-text-dark-2
    "
  >
    <button class="underline" (click)="setTheme('light')">Light</button> |
    <button class="underline" (click)="setTheme('dark')">Dark</button> |
    <button class="underline" (click)="setTheme('system')">System</button>
  </p>
</div>
