<header
  class="
    bg-toolbar-light
    dark:bg-toolbar-dark
    bg-opacity-90
    dark:bg-opacity-90
    fixed
    top-0
    shadow-md
    w-full
    z-30
    backdrop-blur-md
    transition-colors
  "
>
  <div
    class="
      container
      mx-auto
      px-3
      py-3
      md:px-4
      flex
      justify-between
      items-center
    "
  >
    <span class="tracking-wider text-2xl font-black">SET.GO.</span>

    <button
      *ngIf="notificationShadeVisibility$ | async as visibility"
      class="
        md:mr-[43px]
        w-10
        h-10
        flex
        justify-center
        items-center
        relative
        rounded-full
      "
      id="notificationShadeToggleButton"
      uikitCoreRipple
      [attr.aria-label]="
        'Du hast ' + notifications.length + ' Benachrichtigungen'
      "
      (click)="setNotificationShadeVisibility('toggle')"
    >
      <ic-icon
        class="text-2xl pointer-events-none block"
        aria-hidden="true"
        [icon]="icons.iconOutlineNotifications"
      ></ic-icon>
      <div
        *ngIf="notifications.length"
        @scaleOvershoot
        class="bg-secondary rounded-full w-2.5 h-2.5 absolute top-1.5 right-2"
      ></div>
    </button>
  </div>

  <button
    *ngIf="hasAvailableUpdate$ | async"
    class="bg-primary px-3 py-3 text-center w-full"
    (click)="update()"
  >
    <div class="container mx-auto">
      Update installieren ({{
        (availableUpdate$ | async)?.available?.appData?.update?.version?.raw
      }})
    </div>
  </button>
</header>

<div class="md:container w-full mx-auto relative">
  <div
    *ngIf="(notificationShadeVisibility$ | async) === 'open'"
    @slideFromTop
    class="
      w-full
      md:w-[350px]
      absolute
      md:left-[unset] md:right-3
      top-[64px]
      md:top-[78px]
      left-0
      z-20
      origin-top-right
    "
    role="dialog"
    aria-labelledby="notificationShadeHeader"
    uikitCoreClickOutside
    (clickOutside)="setNotificationShadeVisibility('close')"
    [clickOutsideIgnoreList]="['notificationShadeToggleButton']"
  >
    <div
      class="
        w-8
        overflow-hidden
        hidden
        md:inline-block
        absolute
        top-[-18px]
        right-12
      "
      aria-hidden="true"
    >
      <div
        class="
          h-5
          w-5
          bg-toolbar-light
          dark:bg-toolbar-dark
          rotate-45
          transform
          origin-bottom-left
          rounded-md
          bg-opacity-90
          dark:bg-opacity-90
        "
      ></div>
    </div>

    <div
      class="
        overflow-auto
        md:overflow-overlay
        h-[calc(100vh-64px)]
        md:max-h-[500px] md:min-h-[500px] md:rounded-lg
        transition-colors
        md:shadow-md
      "
    >
      <div
        class="
          bg-toolbar-light
          dark:bg-toolbar-dark
          bg-opacity-90
          dark:bg-opacity-90
          backdrop-blur-md
          top-0
          sticky
          z-10
          overflow-hidden
        "
      >
        <div
          class="
            container
            mx-auto
            grid grid-cols-[1fr,auto]
            gap-2
            px-3
            md:px-4
            pt-4
            pb-4
            items-center
          "
        >
          <h3
            id="notificationShadeHeader"
            class="font-bold text-base tracking-wide"
          >
            Benachrichtigungen
          </h3>
          <button
            *ngIf="notifications.length"
            @fade
            class="text-xs px-3 py-1 bg-card-light dark:bg-card-dark rounded-lg"
            (click)="clearAllNotifications()"
          >
            Alle löschen
          </button>
        </div>
      </div>

      <div
        class="
          overflow-hidden
          bg-card-light
          dark:bg-card-dark
          min-h-[calc(100%-56px)]
          relative
        "
      >
        <div
          *ngIf="!notifications.length"
          class="
            flex
            justify-center
            items-center
            flex-col
            absolute
            top-1/2
            w-full
            -translate-y-1/2
          "
        >
          <ic-icon
            class="text-4xl pointer-events-none block mb-1"
            aria-hidden="true"
            [icon]="icons.iconPartyPopper"
          ></ic-icon>
          <p>Alles erledigt, gut gemacht!</p>
        </div>

        <div class="container mx-auto" *ngIf="notifications.length">
          <domain-notification-group
            *ngFor="
              let notificationGroup of notifications;
              let i = index;
              trackBy: trackByNotificationGroupFn
            "
            class="block"
            [notificationGroup]="notificationGroup"
            [showTopHorizontalLine]="i !== 0"
            (deleteNotification)="deleteNotification(notificationGroup, $event)"
            (deleteNotificationGroup)="deleteNotificationGroup($event)"
            @shrink
          ></domain-notification-group>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="
    mx-auto
    flex flex-col
    relative
    px-3
    container
    h-full
    pt-[56px]
    md:justify-center md:items-center
  "
>
  <div class="w-full mt-16 md:w-[475px]">
    <uikit-common-card>
      <ng-container card-header>
        <h1 class="mb-1 md:mb-2 text-3xl">
          Anmeldung<span
            aria-hidden="true"
            class="
              inline-block
              w-2
              h-2
              bg-secondary
              relative
              left-0.5
              bottom-[-2px]
              rounded-sm
            "
          ></span>
        </h1>
        <p class="mb-4 md:mb-6 dark:text-gray-200">
          Logge dich direkt ein, um auf alle SET.GO. Services zugreifen zu
          können.
        </p>
      </ng-container>
      <div
        *ngIf="fetchSignInMethodsForEmailStore?.error$ | async as error"
        @growShrink
        card-before-body
        class="overflow-hidden origin-center"
      >
        <p
          class="
            py-2.5
            md:py-3
            px-6
            md:px-10
            mb-4
            md:mb-7
            transition-colors
            bg-error-light
            dark:bg-error-dark
            text-white
          "
          aria-live="assertive"
        >
          {{ error.message }}
        </p>
      </div>
      <ng-container card-body>
        <div card-body class="pb-5 md:pb-6">
          <form [formGroup]="emailForm" (ngSubmit)="checkEmail()">
            <uikit-forms-field-text
              [control]="emailControl"
              inputType="email"
              inputAutocomplete="username"
              inputId="email"
              label="E-Mail-Adresse"
            >
            </uikit-forms-field-text>
          </form>
        </div>
      </ng-container>

      <uikit-common-button-cta
        card-actions
        assertLoadingMessage="Die eingegebene E-Mail-Adresse wird überprüft. Bitte warten."
        rounded="bottom"
        type="submit"
        [isLoading]="fetchSignInMethodsForEmailStore?.isLoading$ | async"
        (buttonCTAClick)="checkEmail()"
      >
        Weiter
      </uikit-common-button-cta>
    </uikit-common-card>

    <div class="mt-12 -mb-12">
      <hr class="border-border-light dark:border-border-dark mb-6" />
      <ul class="grid gap-2">
        <li>
          <a
            class="
              dark:text-gray-300
              no-underline
              relative
              hover:after:scale-x-100
              dark:hover:text-white dark:focus-visible:text-white
              focus-visible:ring-1
              focus-visible:ring-offset-2
              focus-visible:after:hidden
              rounded
              outline-none
              after:transition-transform
              after:absolute
              after:rounded-sm
              after:left-0
              after:bottom-[-3px]
              after:w-full
              after:h-0.5
              after:scale-x-[25%]
              after:origin-left
              after:bg-gradient-to-r
              after:from-primary
              after:to-secondary-light
            "
            href="#"
          >
            Account erstellen
          </a>
        </li>
        <li>
          <a
            class="
              dark:text-gray-300
              no-underline
              relative
              hover:after:scale-x-100
              dark:hover:text-white dark:focus-visible:text-white
              focus-visible:ring-1
              focus-visible:ring-offset-2
              focus-visible:after:hidden
              rounded
              outline-none
              transition-colors
              after:transition-transform
              after:absolute
              after:rounded-sm
              after:left-0
              after:bottom-[-3px]
              after:w-full
              after:h-0.5
              after:scale-x-[25%]
              after:origin-left
              after:bg-gradient-to-r
              after:from-primary
              after:to-secondary-light
            "
            href="#"
            >Passwort zurücksetzen</a
          >
        </li>
        <li class="dark:text-gray-300 text-xs mt-6">
          <ul class="flex gap-1">
            <li>
              <a
                class="
                  dark:text-gray-300
                  dark:hover:text-white
                  dark:focus-visible:text-white
                  focus-visible:ring-1
                  focus-visible:ring-offset-2
                  focus-visible:no-underline
                  rounded
                  transition-colors
                  underline
                  text-xs
                "
                href="#"
              >
                Datenschutz</a
              >
              <span aria-hidden="true"> &bull;</span>
            </li>
            <li>
              <a
                class="
                  dark:text-gray-300
                  dark:hover:text-white
                  dark:focus-visible:text-white
                  focus-visible:ring-1
                  focus-visible:ring-offset-2
                  focus-visible:no-underline
                  rounded
                  transition-colors
                  underline
                  text-xs
                "
                href="#"
              >
                Impressum</a
              >
              <span aria-hidden="true"> &bull;</span>
            </li>
            <li>
              <span>{{ version.raw }}</span>
            </li>
          </ul>
        </li>
        <li></li>
      </ul>
    </div>
  </div>

  <p class="text-xs text-center absolute bottom-4">
    <button class="underline" (click)="setTheme('light')">Light</button> |
    <button class="underline" (click)="setTheme('dark')">Dark</button> |
    <button class="underline" (click)="setTheme('system')">System</button>
  </p>
</div>
